In [2]:
import pandas as pd

In [117]:
### Задание 1
df = pd.read_csv('ratings.csv')
#загружаем дата фрэйм
film_rating = df[['movieId','rating']]
# вырезаем столбцы с ИД фильма и рейтингом
mean_rating = film_rating.groupby('movieId').mean().reset_index()
# считаем средний рейтинг фильмов и поправляем съехавшую шапку таблицы
def class_group(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'
# пишем функцию на основании которой будет присваиваться класс фильма в зависимости от рейтинга
mean_rating['class'] = mean_rating['rating'].apply(class_group)
# добавляем новый столбец, который строится на основании написанной функции, примененной к столбцу со средним рейтингом
mean_rating.head()

   movieId    rating            class
0        1  3.872470  средний рейтинг
1        2  3.401869  средний рейтинг
2        3  3.161017  средний рейтинг
3        4  2.384615  средний рейтинг
4        5  3.267857  средний рейтинг

In [3]:
### Задание 2
df = pd.read_csv('keywords.csv')
geo_data =pd.DataFrame({'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']})
geo_data.head()

       Центр Северо-Запад Дальний Восток
0     москва    петербург    владивосток
1       тула        псков        сахалин
2  ярославль     мурманск      хабаровск

In [4]:
movies = pd.read_csv('movies.csv')
rating = pd.read_csv('ratings.csv')
year = range(1950, 2011)
# В переменную years запиcываем список из всех годов с 1950 по 2010
def production_year(movie_title):
    for el in year:
        if str(el) in movie_title:
            return el
        pass
movies['year'] = movies['title'].apply(production_year)
#Создаем функцию production_year, которая присваивает каждому фильму год выпуска по след алгоритму:
# проходим по элементам в списке годов, если элемент присутствует, то присваевыем номер года, если нет - пропускаем
def null_year(movie_year):
    if movie_year == 0:
        return 1900
    return movie_year
movies['years'] = movies['year'].apply(null_year)
# для тех фильмов, для которых не было года выпуска в нашем спсике присваивем год выпуска 1900
film_rating = rating[['movieId','rating']]
mean_rating = film_rating.groupby('movieId').mean().reset_index()
#считаем средний рейтинг для фильмов 
year_rating = movies.merge(mean_rating, on = 'movieId', how = 'left')[['years', 'rating']]
#объединяем таблицу с фильмами и годов выпуска с таблицей с средним рейтингом 
mean_year_rating = year_rating.groupby('years').mean().reset_index()
# группируем фильмы по году выпуска
mean_year_rating.sort_values(by = 'rating', ascending = False).head()
# сортируем по убыванию рейтинга

     years    rating
1   1951.0  3.906653
2   1952.0  3.802318
12  1962.0  3.772962
3   1953.0  3.738878
7   1957.0  3.693322